<!doctype html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} Vx | Password Reset Form  {% endblock %} </title>
        <link rel="shortcut icon" type="image/x-icon" href={% static 'base/images/favicon.ico' %} />
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
    </head>
    <body>
        <header>
            {% block navbar %}
            <div class="navbar-fixed">
                <nav style="background-color:white;">
                    <div class="nav-wrapper row">
                        <a href="http://www.vocabx.com" class="brand-logo col s6 m1 l1 push-s6 push-m5 push-l5">
                            <img src="{% static 'base/images/icon48.png' %}" class="center"></a>
                        <a href="http://www.vocabx.com" class="blue-text darken-2 col m1 l1 push-m5 push-l5 hide-on-small-only" id="nav_heading"><strong>V</strong>ocabx</a>
                    </div>
                </nav>
            </div>
            {% endblock %}
        </header>
    <main>
        <form action="{% url 'forgot_password' %}" method="post" class="container">
            <div>
                <h5 style="font-family: monospace;">Enter your email address below, and we'll email instructions for setting a new one.</h5>
                <br><br><br>
                {% csrf_token %}
                {% if f_form.non_field_errors %}
                    {{ f_form.non_field_errors }}
                {% endif %}
                
                <div class="row">
                   <i class="fa fa-envelope fa-2x col s1"></i>
                   <div class="col s11">
                        {{ f_form.email }}
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12"> 
                    <button class="btn waves-effect waves-light blue darken-2 right" type="submit" name="resetpassword">Submit
                    </button>
                    <a class="left" href="{% url 'base' %}">Go Back</a>
                </div>
            </div>
        </form>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h2 class="white-text center">Contact Us</h2>
                </div>
                <div class="col s12 m12 l12">
                    <form method="post">
                        <div class="row">
                            <div class="col s12 m5 l5 push-m1 push-l1">
                             <input type="text" placeholder="YOUR NAME" class="input-field white-text validate">
                             <input type="email" placeholder="YOUR EMAIL" class="input-field white-text validate">
                                </div>
                            <div class="col s12 m6 l6 push-m1 push-l1 ">
                             <textarea type="text" rows="10" cols="41" placeholder="YOUR MESSAGE" class="input-field white-text"></textarea>
                                </div>
                            <div class="col s12 m6 l4 push-s1 pull-m1 pull-l1" id="send-msg-btn">
                                <a class="waves-effect waves-light btn-large yellow accent-4" ><i class="fa fa-paper-plane right" aria-hidden="true"></i>SEND MESSAGE</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; {% now 'Y' %} VocabX Pvt. Ltd              
                <a class="white-text right contact-icon" href="mailto:info@dailygoodwords.com"><i class="fa fa-envelope-square fa-2x"></i></a>
                <a class="white-text right contact-icon" href="https://plus.google.com/+MyGoodWords"><i class="fa fa-google-plus-square fa-2x"></i></a>
                <a class="white-text right contact-icon" href="https://plus.google.com/+MyGoodWords"><i class="fa fa fa-twitter-square fa-2x"></i></a>
                <a class="white-text right contact-icon" href="http://www.facebook.com/mygoodwordsindia"><i class="fa fa-facebook-square fa-2x"></i></a>
             </div>
        </div>
    </footer>
</body>
</html>
