html,
body {
    /*height: 100%;
    margin: 0;
    font-size: 20px;*/
}
a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 23px;
	bottom: 20px;
	background: #1976D2 url('../base/images/up-arrow.png') no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

a.back-to-top:hover{
    background-color: #15c26b;
}

a.add-own-article {
    display: inline-block;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 80px;
}
#navigationpane {
   /* background-color: #fff;
    display: block;
    height: 100vh;
    position: fixed;
    margin-right: 5%;*/
}

#logo-icon {
    padding-top: 5%;
    padding-left: 1%;
}

#profilepic {
    padding-top: 5%;
    max-width: 250px;
    padding-bottom: 15%;
}

.brand-logo {
    padding:5% 0 0 12%;
}

#buttons {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#buttons a{
    padding: 0 0 0 25px;
    height: 40px;
    line-height: 37px;
    width: 250px;
    margin: 15px 0px 0px 0px;
    text-transform: none;
}

#buttons a:hover {
    background-color: #263238;
}

/*
.btn-css {
    width: 100%;
}

.side-nav li {
    width: 300px !important;
}
.side-nav a.btn {
    margin: 0;
}

.background img {
    width: 300px;
    height: 300px;
}
*/

.side-nav a {
    margin: 0;
    font-family: monospace;
    font-size: 40px;
}

#slide-out, #slide-out li{
    width: 250px;
    line-height: 30px;
}

#slide-out li p{
    margin: 0;
    width: 250px;
}

#contentpane {
    margin-top: -2%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*

.side-nav li {
    width: 300px !important;
}

.side-nav a.btn {
    margin: 0;
}

.background img {
    width: 300px;
    height: 300px;
}


.collection {
    margin: 0;
}*/
/*.collection-item {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}*/

li a {
    color: royalblue;
    font-weight: 800;
}

.b_delete_icon {
    padding-top: 10px !important;
    color: crimson;
}

p {
    font-weight: 350;
    font-size: 17px
}

#articles {
    flex: 1 0 auto;
    padding: 0;
    margin: 0;
}

.article_title {
    padding-top: 5px !important;
    font-weight: 800;
    font-size: 20px;
    color: #15c26b;
}
@media (max-width: 1439px) {
    #contentpane {
        margin-left: 16.5%;
        padding-left: 3%;
    }
}
@media (max-width: 1024px) {
    #contentpane {
        margin-left: 16.5%;
        padding-left: 9%;
    }
}
@media (max-width: 991px){
    #contentpane {
        margin-left: 0;
        padding: 2%;
    }
}
<!--- #articlelist {
    margin-bottom: 5%;
}

@media (min-width: 700px) and (max-width: 768px) {
    #articlelist ul:first-child {
        margin-top: 10%;
    }
}

@media (min-width: 320px) and (max-width:699px) {
    #articlelist ul:first-child {
        margin-top: 15%;
    }
}

ul li {
    font-weight: 400;
}

li {
    display: inline-block;
    padding-right: 4px;
}

---> 

.page-footer {
    padding-top: 5px !important;
}
