.cb-auth-container {
    margin-top: 60px;
}
.cb-auth-container .card-panel {
    padding: 20px;
}

#intro_base {
    margin-top: -1.5%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 100%;
    background-image: url('../../base/images/background.jpg');
}

#intro_heading {
    max-height: 90vh;
    margin-top: 4%;
    font-size: 50px;
    margin-left: 6%;
    font-family: fantasy;
    font-weight: 400;
    padding-bottom: 5%;
}

#whatwedo {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 100%;
}

#whatwedo > h5{
    font-weight:300; 
    font-family:monospace; 
    color:#909090;
}

#services {
    background: #f5f5f5;
    padding-top: 3.5%;
    padding-bottom: 5%;
}

#services header {
    padding-bottom:5%;
}
#about-content .about-para1{
    text-align: right;
}

#about-content .timeline{
    display: flex;
    justify-content: center;
}

.timeline div{
    margin: 0 4%;
    flex-basis: 27%;   
}

#about-content .about-para2{
    text-align: left;
}

.about-para1 h3, .about-para2 h3{
    margin-bottom: 1%;
    font-family: monospace;
    font-size: 18px;
}

.about-para1 p,.about-para2 p{
    color: grey;
    font-family: monospace;
    font-size: 14px;
    margin-top: 2%;
}

.timeline img{
    flex-basis: 15%;
    border-radius: 50%;   
    border: 7px solid lightgrey;
    width: 10%;
    height: 29%;
}

#about-last{
    flex-basis: 16%;
    width: 8%;
    height: 8%;
    background-color: rgb(255,219,56);
    border-radius: 50%;
    border: 7px solid lightgrey;
}

#about-last p{
    padding: 4% 2%;
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 20px;
}

.about-img {
    max-height: 130px;
    max-width: 130px;
}

.divider{
    background-color: lightgrey;
    width: 3px;
    height: 100px;
    margin-left: 50%;
}

.scrollto {
    height: 0px;
}

@media screen and (max-width: 1024px) {
    #intro_base {
        margin-top: -1%;
    }
    #intro_heading {
        font-size: 40px;
        padding-top: 0;
        padding-bottom: 15%;
    }
}

@media screen and (max-width: 980px) {
    #intro_base {
        margin-top: -4%;
    }
    #intro_heading {
        font-size: 40px;
        padding-top: 0;
        padding-bottom: 15%;
    }
    .divider {
        margin-top: -1%;
    }
}

@media screen and (max-width: 800px) {
    #intro_base {
        margin-top: -5%;
    }
    #intro_heading {
        font-size: 30px;
        padding-top: 0;
        padding-bottom: 15%;
    }
    .divider {
        margin-top: -2.8%;
    }
}
@media screen and (max-width: 425px) {
    #intro_base {
        margin-top: -2.5%;
    }
    #intro_heading {
        font-size: 16px;
        padding-top: 0;
        padding-bottom: 15%;
    }
    .about-img{
        max-height: 90px;
        max-width: 90px;
    }
    #services {
        padding-top: 1%;
        padding-bottom: 2%;
    }
    #services header {
        padding-bottom: 2%;
    }
    .timeline h3{
        font-size: 12px;
    }
    .timeline p{
        font-size: 10px;
    }
    .timeline{
        box-sizing: initial;
    }
    .divider {
        margin-left: 49.75%;
        margin-top: -12%;
    }
}
@media screen and (max-width: 375px) {
    #intro_base {
        margin-top: -5%;
    }
    #intro_heading {
        font-size: 15px;
        padding-top: 0;
        padding-bottom: 15%;    
    }
    .about-img{
        max-height: 90px;
        max-width: 90px;
    }
    #services {
        padding-top: 1%;
        padding-bottom: 2%;
    }
    #services header {
        padding-bottom: 2%;
    }
    .timeline h3{
        font-size: 12px;
    }
    .timeline p{
        font-size: 10px;
    }
    .timeline{
        box-sizing: initial;
    }
    .divider {
        margin-left: 49.75%;
        margin-top: -20%;
    }
}
@media screen and (max-width: 320px) {
    #intro_base {
        margin-top: -21%;
        margin-bottom: 0;
    }
    #intro_heading {
        font-size: 13px;
        padding-top: 15%;
        padding-bottom: 8%;
    }
    .about-img{
        max-height: 90px;
        max-width: 90px;
    }
    #whatwedo {
        margin-top: 30px;
    }
    #whatwedo h3{
        font-size: 38px;
    }
    #whatwedo h5 {
        font-size: 20px;
    }
    #services {
        padding-top: 1%;
        padding-bottom: 2%;
    }
    #services header {
        padding-bottom: 2%;
    }
    .timeline h3{
        font-size: 12px;
    }
    .timeline p{
        font-size: 10px;
    }
    .timeline{
        box-sizing: initial;
    }
    .divider {
        margin-left: 49.75%;
        margin-top: -23%;
    }
}