html,
body {
   /* height: 100%;
    margin: 0;
    font-size: 20px;*/
}

#navigationpane {
    /*background-color: #fff;
    display: block;
    height: 100vh;
    position: fixed;
    margin-right: 5%;*/
}

#logo-icon {
    padding-top: 5%;
}

#profilepic {
    padding-top: 5%;
    max-width: 250px;
}

.brand-logo {
    max-width: 150px;
    padding:5% 0 0 35%;
}
#buttons {
    display: flex;
    flex-direction: column;
}
#buttons a{
    padding: 0;
    height: 40px;
    line-height: 37px;
    width: 200px;
    margin: 10px 25px 0px 25px;
}
/*
.btn-css {
    width: 100%;
}

#helptext {
    width: 100%;
}
*/
.side-nav a {
    margin: 0;
    font-family: monospace;
    font-size: 40px;
}
#slide-out, #slide-out li{
    width: 250px;
}
#slide-out li p{
    margin: 0;
    width: 250px;
}

#contentpane {
    margin-top: -2%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
@media (max-width: 1439px) {
    #contentpane {
        margin-left: 16.5%;
        padding-left: 3%;
    }
}
@media (max-width: 1024px) {
    #contentpane {
        margin-left: 16.5%;
        padding-left: 9%;
    }
}
@media (max-width: 991px){
    #contentpane {
        margin-left: 0;
        padding: 2%;
    }
}
/*
.side-nav li {
    width: 300px !important;
}
.side-nav a.btn {
    margin: 0;
}
.background img {
    width: 300px;
    height: 300px;
}

#contentpane {
      height: auto;   
    position: absolute;
    min-height: 100%;
    right: 0;
}
#contentpane_inner {
    margin-top: 15%;
    min-height: 60vh;
}*/
    
.page-footer {
    padding-top: 5px !important;
}
