body {
  border-radius: 4px;
}
#main {
    position: absolute;
    margin-top: 0.2%;
    margin-left: 15%
}
#logincard {
    padding-bottom: 1%;
}

#signupcard {
    padding-bottom: 1%;
}

.input-field input:focus + label{
    color: #ffffff;
}
.input-field input[type=text].invalid + label{
    color: #f44336;
}
