<!doctype html>
<html lang="en">
{% load staticfiles %} {% load material_form %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} VocabX {% endblock %} </title>
    <script src="https://use.fontawesome.com/5af4325956.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href={% static 'base/images/favicon.ico' %} />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookmarks/bookmarks.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"> {% block extrahead %}{% endblock %}
</head>

<body>
   
    <main>
        <div class="row">
            <ul id="slide-out" class="side-nav fixed blue-grey darken-3">
                <li class="brand-logo blue-grey darken-4">
                    <a href="http://www.vocabx.com">
                        <img src="{% static 'base/images/icon48.png' %}">
                    </a>
                </li>

                <li class="center-align blue-grey darken-4" id="profilepic">
                    <p class="center-align white-text">{{ user.first_name}} {{ user.last_name }}</p>
                    <p class="center-align white-text" style="font-size: 1rem;">{{ user.email }}</p>
                </li>

                <li id="buttons">
                    <a class="waves-effect waves-light btn-flat btn-css white-text " href="{% url 'home' %}"><i class="material-icons left white-text" style="line-height: 37px;">home</i>Home</a>
                    <a class="waves-effect waves-light btn-flat btn-css white-text " href="{% url 'bookmarks' %}"><i class="material-icons left white-text" style="line-height: 37px;">bookmark_border</i>Bookmarks</a>
                    <a class="waves-effect waves-light btn-flat btn-css white-text " href="{% url 'logout' %}"><i class="material-icons left white-text" style="line-height:37px;">exit_to_app</i>Logout</a>
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <!---s12 m12 l10 offset-l2-->
            <div class="col s12 m12 l10 offset-l2 grey lighten-3" id="contentpane">
                <div class="row" style="min-height: 63vh; margin-top: 20vh;">
                    <form method="post" class="col s12" id="update_form" action="{% url 'update_settings' %}">
                        {% csrf_token %}
                        <div class="row">

                            <div class="input-field col s6">
                                <input value={{ user.first_name }} name="first_name2" id="first_name2" type="text" class="validate">
                                <label class="active" for="first_name2">First Name</label>
                            </div>


                            <div class="input-field col s6">
                                <input value={{ user.last_name }} name="last_name2" id="last_name2" type="text" class="validate">
                                <label class="active" for="last_name2">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="email" type="email" class="validate" value={{ user.email }}>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:#00c853" id="updatebtn">Update
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <br><br><br><br>
                            <blockquote style="border-color:#00c853; ">To Change your password <strong>Logout</strong> and click on <strong>Forgot Password</strong>?</blockquote>
                        </div>
                    </form>
                </div>

                <footer class="page-footer blue darken-2">
                    <div class="footer-copyright">
                        <div class="container">
                            <div class="col s6">
                                &copy; {% now 'Y' %} VocabX Pvt. Ltd
                            </div>
                            <div class="col s1 offset-s3">
                                <a class="grey-text text-lighten-4" href="mailto:info@mygoodwords.com"><i class="fa fa-envelope-square"></i></a>
                            </div>
                            <div class="col s1">
                                <a class="grey-text text-lighten-4" href="https://plus.google.com/+MyGoodWords"><i class="fa fa-google-plus-square"></i></a>
                            </div>
                            <div class="col s1">
                                <a class="grey-text text-lighten-4" href="http://www.facebook.com/mygoodwordsindia"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>

        </div>
    </main>

    {% include 'material/includes/material_js.html' %} {% block scripts %} {% endblock %} {% block scriptlogin %} {% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'settings/updatesettings.js' %}"></script>

    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
</body>

</html>