{% extends "authentication/auth_base.html" %}
{% block title %} VocabX | Login {% endblock %}

{% block auth_content %}
<h2>Change Password</h2>
  {% if not user.has_usable_password %}
    <p style="color: red">You have not defined a password yet.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
  </form>
{% endblock %}