<!doctype html>
<html lang="en">
    {% load staticfiles %}
    {% load material_form %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} VocabX {% endblock %} </title>
        <link rel="shortcut icon" type="image/x-icon" href={% static 'base/images/favicon.ico' %} />
        <!--<script src="https://use.fontawesome.com/5af4325956.js"></script>-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href={% static 'base/images/favicon.ico' %} />
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'bookmarks/bookmarks.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
        {% block extrahead %}{% endblock %}
    </head>

<body>
    <a href="#" class="back-to-top">Back to Top</a>
    <a class="btn-floating btn-large waves-effect waves-light red tooltipped add-own-article" data-position="top" data-delay="50" data-tooltip="Add your own article" href="#modal2"><i class="material-icons">mode_edit</i></a>
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4 class="red-text center">Add Your Own Article</h4>
            <p class="center">Insert the article link below. We will analyse it and save it to your bookmarks.</p>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">link</i>
                    <input id="own_url" type="url">
                    <label for="own_url">Url</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-blue btn-flat" id="url_submit_btn" style="color: #1976D2;">Submit</a>
        </div>
    </div>
    <!---
    <header>
        {% block navbar %}
        <nav class="top-nav">
            <div class="container nav-wrapper">

                <a href="http://www.mygoodwords.com" class="brand-logo">
                    <img src="{% static 'base/images/logo1.png' %}">
                </a>
                {% if user.is_authenticated %} 
                    {% include "nav/nav.html" %} 
                {% endif %}

            </div>
        </nav>
        {% endblock %}
    </header>
-->
    <main>
        <div class="row">
            <!--
            <div class="col l2 hide-on-med-and-down" id="navigationpane">
                <!- Note that "m4 l3" was added -->
            <!--
                <div class="center-align" id="logo-icon">
                    <a href="http://www.mygoodwords.com" class="brand-logo">
                        <img src="{% static 'base/images/logo1.png' %}">
                    </a>
                </div>
                <div class="divider"></div>
                <div class="center-align" id="profilepic">
                    <i class="fa fa-user-circle-o fa-5x center-align" aria-hidden="true"></i>
                </div>
                <p class="center-align">{{ user.first_name}} {{ user.last_name }}</p>
                <p class="center-align" style="font-size: 1rem;">{{ user.email }}</p>
                <div class="divider"></div>
                <div id="buttons">
                    <a class="waves-effect waves-light btn btn-css blue darken-2" href="{% url 'home' %}">Home</a>
                    <a class="waves-effect waves-light btn btn-css blue darken-2" href="{% url 'search' %}">Search</a>
                    <a class="waves-effect waves-light btn btn-css blue darken-2" href="{% url 'logout' %}">Logout</a>
                </div> -->
           
            <!--    <div class="navbar-fixed hide-on-large-only col s12 m12 " id="slidepane">
                <nav class="blue darken-2">
                    <div class="nav-wrapper">
                        <ul id="slide-out" class="side-nav">
                            <li>
                                <div class="userView">
                                    <div class="background">
                                        <img src="{% static 'dashboard/images/slidepane_background.jpg' %}">
                                    </div>

                                    <a href="#!user"><i class="fa fa-user-circle-o fa-3x center-align" aria-hidden="true"></i></a>
                                    <a href="#!name"><span class="white-text name"> {{user.first_name}} {{ user.last_name }} </span></a>
                                    <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
                                </div>
                            </li>
                            <li><a class="waves-effect waves-light btn side-nav-btn blue darken-2" href="{% url 'home' %}">Home</a></li>
                            <li><a class="waves-effect waves-light btn side-nav-btn blue darken-2" href="{% url 'search' %}">Search</a></li>
                            <li>
                            </li>
                            <li><a class="waves-effect waves-light btn side-nav-btn blue darken-2" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                    </div>
                </nav>
            </div> -->
            <ul id="slide-out" class="side-nav fixed blue-grey darken-3">
                <li class="brand-logo blue-grey darken-4">
                    <a href="http://www.vocabx.com">
                        <img src="{% static 'base/images/icon48.png' %}">
                    </a>
                </li>
                
                <li class="center-align blue-grey darken-4" id="profilepic">
                <!--    <i class="fa fa-user-circle-o fa-5x center-align" aria-hidden="true"></i>-->
                    <p class="center-align white-text">{{ user.first_name}} {{ user.last_name }}</p>
                    <p class="center-align white-text" style="font-size: 1rem;">{{ user.email }}</p>
                </li>
                
                <li id="buttons">
                    <a class="waves-effect waves-light btn-flat btn-css white-text " href="{% url 'home' %}"><i class="material-icons left white-text" style="line-height: 37px;">home</i>Home</a>
                    <!--<a data-target="modal1" class="modal-trigger waves-effect waves-light btn-flat btn-css white-text " id="filterbtn"><i class="material-icons left white-text" style="line-height:37px;">filter_list</i>Filter</a>-->
                    <a class="waves-effect waves-light btn-flat btn-css white-text" href="{% url 'settings' %}" ><i class="material-icons left white-text" style="line-height:37px;">settings</i>Settings</a>
                    <a class="waves-effect waves-light btn-flat btn-css white-text " href="{% url 'logout' %}"><i class="material-icons left white-text" style="line-height:37px;">exit_to_app</i>Logout</a> 
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<div id="modal1" class="modal" style="max-width: 400px">
    <div class="modal-content">
        <form method="post" class="viewform" id="filter_form"> 
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="hidden" name="form-type" value="filter" />
            
            {% form form=f_form %}
            {% endform %}
                
            <!-- {{ f_form.as_table }}-->
            <input type="submit"  class="modal-action modal-close waves-effect waves-blue btn right blue darken-2" value="SUBMIT"/>
        </form>
    </div>
</div>
            <!--s12 m12 l10 offset-l2-->
            <div class="col s12 m12 l10 offset-l2 grey lighten-3" id="contentpane">
                <div class="row" id="articles">
                </div>
            <footer class="page-footer blue darken-2">
                        <div class="footer-copyright">
                            <div class="container">
                                <div class="col s6">
                                    &copy; {% now 'Y' %} VocabX Pvt. Ltd
                                </div>
                                <div class="col s1 offset-s3">
                                    <a class="grey-text text-lighten-4" href="mailto:info@mygoodwords.com"><i class="fa fa-envelope-square"></i></a>
                                </div>
                                <div class="col s1">
                                    <a class="grey-text text-lighten-4" href="https://plus.google.com/+MyGoodWords"><i class="fa fa-google-plus-square"></i></a>
                                </div>
                                <div class="col s1">
                                    <a class="grey-text text-lighten-4" href="http://www.facebook.com/mygoodwordsindia"><i class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </footer>      
            </div>
            
        </div>
    </main>

    {% include 'material/includes/material_js.html' %} {% block scripts %} {% endblock %} {% block scriptlogin %} {% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/scroll-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'bookmarks/getbookmarks.js' %}"></script>
    {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

        {% include 'material/includes/material_js.html' %}
</body>

</html>
