<!doctype html>
<html lang="en">
{% load staticfiles %} 
{% load material_form %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} VocabX | Search User {% endblock %} </title>
    <script src="https://use.fontawesome.com/5af4325956.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'search/search.css' %}">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"> {% block extrahead %}{% endblock %}
</head>


<body>
    <main>
        <div class="row">
            <!---
            <div class="col l2 hide-on-med-and-down" id="navigationpane">
                
                <div class="center-align" id="logo-icon">
                    <a href="http://www.mygoodwords.com" class="brand-logo">
                        <img src="{% static 'base/images/logo1.png' %}">
                    </a>
                </div>
                <div class="divider"></div>
                <div class="center-align" id="profilepic">
                    <i class="fa fa-user-circle-o fa-5x center-align" aria-hidden="true"></i>
                </div>
                <p class="center-align">{{ user.first_name}} {{ user.last_name }}</p>
                <p class="center-align" style="font-size: 1rem;">{{ user.email }}</p>
                <div class="divider"></div>
                <div id="buttons">
                    <a class="waves-effect waves-light btn btn-css blue darken-2" href="{% url 'home' %}">Home</a>
                    <a class="waves-effect waves-light btn btn-css blue darken-2" href="{% url 'bookmarks' %}">Bookmarks</a>
                    <a class="waves-effect waves-light btn btn-css blue darken-2" href="{% url 'logout' %}">Logout</a>
                </div>
                
            </div>

            <div class="navbar-fixed hide-on-large-only col s12 m12 " id="slidepane">
                <nav class="blue darken-2">
                    <div class="nav-wrapper">
                        <ul id="slide-out" class="side-nav">
                            <li>
                                <div class="userView">
                                    <div class="background">
                                        <img src="{% static 'dashboard/images/slidepane_background.jpg' %}">
                                    </div>

                                    <a href="#!user"><i class="fa fa-user-circle-o fa-3x center-align" aria-hidden="true"></i></a>
                                    <a href="#!name"><span class="white-text name"> {{user.first_name}} {{ user.last_name }} </span></a>
                                    <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
                                </div>
                            </li>
                            <li><a class="waves-effect waves-light btn side-nav-btn blue darken-2" href="{%url 'home'%}">Home</a></li>
                            <li>
                            </li>
                            <li><a class="waves-effect waves-light btn side-nav-btn blue darken-2" href="{%url 'bookmarks'%}">Bookmarks</a></li>
                            <li><a class="waves-effect waves-light btn side-nav-btn blue darken-2" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                    </div>
                </nav>
            </div>
--->
             <ul id="slide-out" class="side-nav fixed">
            <li class="brand-logo">
                <a href="http://www.mygoodwords.com" >
                    <img src="{% static 'base/images/logo1.png' %}">
                </a>
            </li>
            <li class="divider"></li>
            <li class="center-align" id="profilepic">
                <i class="fa fa-user-circle-o fa-5x center-align" aria-hidden="true"></i>
            </li>
            <li>
                <p class="center-align">{{ user.first_name}} {{ user.last_name }}</p>
            </li>
            <li>
                <p class="center-align" style="font-size: 1rem;">{{ user.email }}</p>
            </li>
            <li class="divider">
            </li>
            <li id="buttons">
                <a class="waves-effect waves-light btn btn-css white-text blue darken-2" href="{% url 'home' %}">Home</a>
                <a class="waves-effect waves-light btn btn-css white-text blue darken-2" href="{% url 'bookmarks' %}">Bookmarks</a>
                <a class="waves-effect waves-light btn btn-css white-text blue darken-2" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="col s12 m12 l10 offset-l2 grey lighten-3" id="contentpane">
                <div id="contentpane_inner">
                <form method="GET" action="{% url 'search_users' %}">
                    {% form form=form %}{% endform %}
                </form>
                <ul class="collection with-header">
                    <li class="collection-header center-align" id="helptext">Type something on the top!!!</li>
                </ul>
                </div>
                <footer class="page-footer blue darken-2">
                    <div class="footer-copyright">
                        <div class="container">
                            <div class="col s6">
                                &copy; {% now 'Y' %} Daily Good Words Pvt. Ltd
                            </div>
                            <div class="col s1 offset-s3">
                                <a class="grey-text text-lighten-4" href="mailto:info@mygoodwords.com"><i class="fa fa-envelope-square"></i></a>
                            </div>
                            <div class="col s1">
                                <a class="grey-text text-lighten-4" href="https://plus.google.com/+MyGoodWords"><i class="fa fa-google-plus-square"></i></a>
                            </div>
                            <div class="col s1">
                                <a class="grey-text text-lighten-4" href="http://www.facebook.com/mygoodwordsindia"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </main>
</body>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/init.js' %}"></script>
<script src="{% static 'search/search.js' %}"></script>

</html>
