{% extends "base.html" %}
{% load staticfiles %}

{% block title %} VocabX {% endblock %}

{% block extrahead %} 
<link rel="stylesheet" href="{% static 'authentication/css/auth.css' %}">
{% endblock %}

{% block content %}
<section>
<div class="row" id="intro_base" style="">
<div id="intro_heading" class="col s4 m4 l4">
<p class="white-text center-align">The ease &amp; simplicity of <strong class="blue-text darken-2">VocabX</strong> to <strong class="blue-text darken-2">Boost</strong> your <strong class="green-text accent-3">Vocabulary.</strong></p>
</div>
</div>
</section>

<section>
<div class="container" id="whatwedo">
    <h3 class="center blue-text">What Do We Do?</h3>
    <h5 class="center">We bring to you the latest articles from major news websites all in one place. Rank the articles based on their vocabulary and generate a feed for you.</h5>
</div>
</section>

<section id="services">
    <div class="">
        <header>
            <h3 class="center yellow-text accent-4">Services</h3>
        </header>   
            <div id="about-content">
                <div class="timeline">
                    <div class="about-para1">
                        <h3>BOOKMARK</h3>
                        <p>Bookmark the articles you like and read them again anytime you want.</p>
                    </div>
                    <img src="{% static 'base/images/services-bookmarkicon.png' %}" class="about-img" >
                    <div class="about-empty"></div>
                </div>
                
                <div class="divider"></div>

                <div class="timeline">
                    <div class="about-empty"></div>
                    <img src="{% static 'base/images/services-mailnotification.png' %}" class="about-img" >
                    <div class="about-para2">
                        <h3>MAIL NOTIFICATION</h3>
                        <p>Receive daily mail notification of latest articles.</p>
                    </div>
                </div>
                
                <div class="divider"></div>
                
                 <div class="timeline">
                    <div class="about-para1">
                        <h3>GOOGLE CHROME PLUGIN</h3>
                        <p>Install VocabX plugin. Plugin highlights the good words in your active tab. Hover over them to learn the meaning of the word.</p>
                    </div>
                    <img src="{% static 'base/images/services-plugin.png' %}" class="about-img" >
                    <div class="about-empty"></div>
                </div>
            </div>
    </div>
</section>
{% endblock %}
