{% extends "authentication/auth_base.html" %} 
{% load material_form %} 
{% load staticfiles %} 
{% block title %} VocabX | Login {% endblock %} 
{% block auth_content %} 

{% if forms.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="row">
    <div class="col s6">
        <br><br><br>
    <button data-target="modal1" class="btn blue darken-2" style="margin:1px; width:130px">Login</button>
         
    <button data-target="modal2" class="btn modal-trigger blue darken-2" style="margin:1px; width:130px">Regsiter</button>
         
        <br>
        <br>
    <a href="{% url 'forgot_password' %}">Forgot password?</a>
        </div>
    </div>

<!-- Modal1 Structure -->

<div id="modal1" class="modal">
    <div class="modal-content">
        <form method="post" class="viewform" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="hidden" name='form-type' value='login' /> {% form form=lform %} {% part form.username prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %} {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %} {% attr form.keep_logged 'group' class %}col s3 offset-s8{% endattr %} {% endform %}
            <button type="submit" name="_submit" id="login" class="modal-action modal-close btn btn-primary btn-lg blue darken-2" value="Login" style="margin-bottom: 2px; margin-left:68.8%;">Submit</button>
        </form>
    </div>
</div>

<!-- Modal2 Structure -->

<div id="modal2" class="modal">
    <div class="modal-content">
        <form method="post" class="viewform" action="{% url 'postsignup' %}">
            {% csrf_token %}

            <input type="hidden" name='form-type' value='register' /> {% form form=rform %} {% part form.username prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %} {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %} {% part form.password prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %} {% endform %}
            <button type="submit" name="_submit" id="register" class="modal-action modal-close btn btn-primary btn-lg blue darken-2" value="Register">Submit</button>

        </form>
    </div>
</div>

{% endblock %}