html,
body {
/*    height: 100%;
    margin: 0;
    font-size: 20px;*/
}
a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 23px;
	bottom: 20px;
	background: #1976D2 url('../../base/images/up-arrow.png') no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

a.back-to-top:hover{
    background-color: #15c26b;
}

a.add-own-article {
    display: inline-block;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 80px;
}
#navigationpane {
    /*background-color: #fff;
    display: block;
    height: 100vh;
    position: fixed;
    margin-right: 5%;*/
}

#logo-icon {
    padding-top: 5%;
}

#profilepic {
    padding-top: 5%;
    max-width: 250px;
    padding-bottom: 15%;
}

.brand-logo {
    padding:5% 0 0 12%;
}

#buttons {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#buttons a{
    padding: 0 0 0 25px;
    height: 40px;
    line-height: 37px;
    width: 250px;
    margin: 15px 0px 0px 0px;
    text-transform: none;
}

#buttons a:hover {
    background-color: #263238;
}

/*
#buttons {
  
    padding: 0;
    margin: 0;
}

.btn-css {
    width: 80%;
    height: 80%;
}

.side-nav li {
    width: 300px !important;
}

.side-nav a.btn {
    margin: 0;
}

.background img {
    width: 300px;
    height: 300px;
}
*/

.side-nav a {
    margin: 0;
    font-family: monospace;
    font-size: 40px;
}

#slide-out, #slide-out li{
    width: 250px;
    line-height: 30px;
}

#slide-out li p{
    margin: 0;
    width: 250px;
}

#contentpane {
    margin-top: -2%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*  height: auto;   
    position: absolute;
    right: 0;*/
}

li a {
    color: royalblue;
    font-weight: 800;
}

.bookmark_icon {
    padding-top: 10px !important;
    color: #15c26b;
    /*color: #1976d2;*/
}

p {
    font-weight: 350;
    font-size: 17px;
}

#articles {
    flex: 1 0 auto;
    padding: 0;
    margin: 0;
}
.article_title {
    padding-top: 5px !important;
    font-weight: 800;
    font-size: 20px;
}
/*
#articlelist {
    margin-bottom: 5%;
    flex: 1 0 auto;
    padding: 0;
    margin: 0;
}

@media (min-width: 700px) and (max-width: 768px) {
    #articlelist ul:first-child {
        margin-top: 8%;
    }
}
@media (min-width: 320px) and (max-width:699px){
    #articlelist ul:first-child {
        margin-top: 12%;
    }
}
*/

@media (max-width: 1440px) {
    #contentpane {
        margin-left: 16.5%;
        padding-left: 3%;
    }
    #load_more {
        margin-left: 44%;
    }
}
@media (max-width: 1024px) {
    #contentpane {
        margin-left: 16.5%;
        padding-left: 9%;
    }
    #load_more {
        margin-left: 43%;
    }
}
@media (max-width: 991px){
    #contentpane {
        margin-left: 0;
        padding: 2%;
    }
    #load_more {
        margin-left: 43%;
    }
}
@media (max-width: 767px) {
    #load_more {
        margin-left: 35%;
    }
}
ul li {
    font-weight: 400;
}

li {
    display: inline-block;
    padding-right: 4px;
}
#load_more {
    width: 100%;
    border-width: 2px; 
    border-color: #15c26b; 
    border-style: dashed; 
    border-radius: 2%;
    margin: 0;

}
#load_more:hover {
    background-color: #37474f;
}
.page-footer {
    padding-top: 5px !important;
    /*bottom: 0px;
    position: fixed;
    margin-bottom: 0px;*/
}
