<!doctype html>
<html lang="en">
    {% load staticfiles %}
    {% load material_form %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} VocabX {% endblock %} </title>
        <link rel="shortcut icon" type="image/x-icon" href={% static 'base/images/favicon.ico' %} />
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--<script src="https://use.fontawesome.com/5af4325956.js"></script>-->
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <header>
            {% block navbar %}
            <div class="navbar-fixed">
                <nav style="background-color:white;">
                    <div class="nav-wrapper row">
                        <a class="col s1 blue-text darken-2 hide-on-med-and-up dropdown-button" data-activates='menu'><i class="fa fa-bars" style="line-height:45px;"></i></a>
                        <a href="http://www.vocabx.com" class="brand-logo col s6 m1 l1 push-s5">
                            <img src="{% static 'base/images/icon48.png' %}" class="center"></a>
                        <a href="http://www.vocabx.com" class="blue-text darken-2 col m1 l1 hide-on-small-only" id="nav_heading"><strong>V</strong>ocabx</a>
                        <a data-target="modal1" class="waves-effect waves-light col s12 m2 l2 push-m5 push-l6 center nav_signin hide-on-small-only"><strong>Sign in</strong></a>
                        <a data-target="modal2"  class="waves-effect waves-light col s12 m3 l2 push-m5 push-l6 center nav_create hide-on-small-only"><strong>Create An Account</strong></a>
                    </div>
                </nav>
            </div>
            {% endblock %}
        </header>
    
        <!---Menu Dropdown -->
        <ul id='menu' class='dropdown-content'>
            <li><a href="#modal1" class="blue-text darken-2">Sign in</a></li>
            <li class="divider"></li>
            <li><a href="#modal2" class="blue-text darken-2">Register</a></li>
        </ul>

        <!-- Modal1 Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content row">
                <div class="col s12 modal-close"><i class="fa fa-times right red-text darken-2" aria-hidden="true"></i>
                </div>
                <form method="post" class="viewform col s12" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <input type="hidden" name='form-type' value='login' /> 
                    {% form form=lform %} 
                    {% part form.username prefix %}<i class="fa fa-user-circle prefix" aria-hidden="true"></i>{% endpart %} 
                    {% part form.password prefix %}<i class="fa fa-lock prefix" aria-hidden="true"></i>{% endpart %} 
                    {% attr form.keep_logged 'group' class %} left col s4 {% endattr %} 
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% endform %}
                    <div class="row">
                        <div class="col s12 m8 l8">
                            <button type="submit" name="_submit" id="login" class="modal-action modal-close btn btn-primary btn-lg" value="Login" style="margin-left: 10px;">Submit</button>    
                        </div>
                        <div class="hide-on-med-and-up col s12"><br></div>
                        <div class="col s12 m4 l4" >
                            <a class="center" href="{% url 'forgot_password' %}">Forgot Password ?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
         <!-- Modal2 Structure -->
         <div id="modal2" class="modal">
            <div class="modal-content">
                <form action="{% url 'postsignup' %}" method="post" class="row" data-validate-username-url="{% url 'validate_username' %}">
                    <div class="col s12 modal-close"><i class="fa fa-times right red-text darken-2" aria-hidden="true"></i></div>
                    
                    {% csrf_token %}

                    {% if rform.errors %}
                        {% for field in rform %}
                            <div class="red-text center">
                                    <strong>{{ field.errors|escape }}</strong>
                            </div>
                        {% endfor %}
                        {% if rform.non_field_errors %}
                            <div class="red-text center">
                                <strong>{{ rform.non_field_errors|escape }}</strong>
                                <br>
                            </div>
                        {% endif %}
                    {% endif %}

                    <div class="col s1 m1 l1"> <i class="fa fa-user-circle"></i></div>
                    <div class="col s11 m5 l5">{{ rform.username }}</div>
                    <div class="col s1 m1 l1"> <i class="fa fa-envelope"></i></div>
                    <div class="col s11 m5 l5">{{ rform.email }}</div>

                    <div class="col s1 m1 l1"> <i class="fa fa-user"></i></div>
                    <div class="col s11 m5 l5">{{ rform.first_name }}</div>
                    <div class="col s1 m1 l1"> <i class="fa fa-user"></i></div>
                    <div class="col s11 m5 l5">{{ rform.last_name }}</div>

                    <div class="col s1 m1 l1"> <i class="fa fa-unlock-alt"></i></div>
                    <div class="col s11 m5 l5">{{ rform.password }}</div>
                    <div class="col s1 m1 l1"> <i class="fa fa-lock"></i></div>
                    <div class="col s11 m5 l5">{{ rform.password2 }}</div>

                    <input type="hidden" name='form-type' value='register' />
                    <div class="g-recaptcha col s12 m6 l6 center"></div>
                    <div class="col s12 m6 l6 center">
                        <button type="submit" name="_submit" id="signup" class="modal-action modal-close btn btn-primary btn-lg" value="Register" >Create My Account</button>
                    </div>
                </form>
            </div>
         </div>

        <main>
            <a class="btn-floating btn-large waves-effect waves-light move-down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>  
            <a class="btn-floating btn-large waves-effect waves-light move-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 
            <div>
                {% block content %}
                {% endblock %}
            </div>
            
            {% block postsignup %}
            {% endblock %}
        </main>

        {% block footer %}
        <footer class="page-footer">
          <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h2 class="white-text center">Contact Us</h2>
                </div>
                <div class="col s12 m12 l12" id="contactform">
                    <form method="post" action="{% url 'contactus' %}" id="cform">
                        {% csrf_token %}
                        {% if cform.errors %}
                        {% for field in cform %}
                            <div class="red-text center">
                                    <strong>{{ field.errors|escape }}</strong>
                            </div>
                        {% endfor %}
                        {% if cform.non_field_errors %}
                            <div class="red-text center">
                                <strong>{{ cform.non_field_errors|escape }}</strong>
                                <br>
                            </div>
                        {% endif %}
                    {% endif %}
                        <div class="row">
                            <div class="col s12 m5 l5 push-m1 push-l1">
                                {{ cform.name }}
                                {{ cform.email }}
                            </div>
                            <div class="col s12 m6 l6 push-m1 push-l1 ">
                                {{ cform.content }}
                            </div>
                            <div class="col s12 m5 l5 pull-m4 pull-l4">
                                <div class="g-recaptcha left"></div>
                            </div>
                            <div class="col s12 m4 l4" id="send-msg-btn">
                                    <button type="submit" name="_submit" class="btn btn-primary btn-large yellow accent-4" value="contactus" onclick="showsendmessage()"><i class="fa fa-send right"></i>SEND MESSAGE</button>    
                            </div>
                            <div class="col s12 m12 l12" id="snackbar"></div>    
                        </div>
                     </form>
                </div>
            </div>
          </div>
          <div class="footer-copyright">
             <div class="container row">
                <div class="col s6 m8 l8"> &copy; {% now 'Y' %} &nbsp; VocabX Pvt. Ltd</div>
                <div class="col s6 m4 l4 row"> 
                    <a class="white-text col s3 right contact-icon" href="mailto:info@dailygoodwords.com"><i class="fa fa-envelope-square fa-2x"></i></a>
                    <a class="white-text col s3 right contact-icon" href="https://plus.google.com/+VocabX"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    <a class="white-text col s3 right contact-icon" href="https://www.twitter.com/+VocabX"><i class="fa fa fa-twitter-square fa-2x"></i></a>
                    <a class="white-text col s3 right contact-icon" href="http://www.facebook.com/vocabx"><i class="fa fa-facebook-square fa-2x"></i></a>
                </div>
            </div>  
          </div>
        </footer>
        {% endblock %}

        {% include 'material/includes/material_js.html' %}

        {% block scripts %} 
        {% endblock %}

        {% block scriptlogin %} 
        {% endblock %}
    
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %"></script>-->
        <script type="text/javascript">
          var CaptchaCallback = function() {
            $('.g-recaptcha').each(function(index, el) {
              grecaptcha.render(el, {'sitekey' : '6LeiAiwUAAAAAPwZerimLxA4sv-85DHG0bMKDkku', 'theme':'dark'});
            });
          };
        </script>
        <script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
        <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
        <script type="text/javascript" src="{% static 'login.js' %}"></script>
        <script type="text/javascript" src="{% static 'base/js/move-down.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        {% if lform.errors %}
            <script type="text/javascript">
                var colorChangeFlag;

                var el = document.getElementsByClassName("nav_signin")[0];
                Materialize.toast('Error Logging In. Try Again', 1500, 'rounded');
                setInterval(function(){
                    if (colorChangeFlag === 1) {
                        color = "#e53935";
                        fontcolor = "#ffffff"
                        colorChangeFlag = 2;
                    } else {
                        color = "#ffffff";
                        fontcolor = "#1976D2"
                        colorChangeFlag = 1;
                    }

                    el.style.backgroundColor = color;
                    el.style.color = fontcolor;
                }, 2000);

            </script>
        {% endif %}

        {% if rform.errors %}
            <script type="text/javascript">
                var colorChangeFlag;

                var el = document.getElementsByClassName("nav_create")[0];
                Materialize.toast('Error Creating Account. Try Again', 1500, 'rounded');
                setInterval(function(){
                    if (colorChangeFlag === 1) {
                        color = "#e53935";
                        fontcolor = "#ffffff"
                        colorChangeFlag = 2;
                    } else {
                        color = "#1976D2";
                        fontcolor = "#ffffff"
                        colorChangeFlag = 1;
                    }

                    el.style.backgroundColor = color;
                    el.style.color = fontcolor;
                }, 2000);
            </script>
        {% endif %}
    </body>
</html>
