<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} VocabX {% endblock %} </title>
</head>
<body>
    <main >
        <div style="margin: 5px;background-color: #263238; border-left: 5px solid #26b064;">
            <h1 style="color:black; text-align:center; padding-top:10px;">These are your daily article links.</h1>
            {% for article in articlelist %}
            <div style="background-color:#308fec;margin:3px 6px 3px 6px;border-radius:2px;">
                <div style="padding:2px; font-weight:800;text-align:center; font-family:monospace;font-size:20px; line-height:22.5px; margin:2px;">
                    <a href="{{ article.destination_url }}" style="text-decoration:none;color:white;" >{{ article.title }}</a>
                </div>
                <div style="font-weight: 100;font-family:Roboto, sans-serif;line-height:22.5px;color:white;">{{ article.description }}</div>
                </div>
            <div style="height:5px;"></div>
            {% endfor %}
            <div>
                
            </div>
            <div >
                
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>