<!doctype html>
<html lang="en">
{% load staticfiles %} {% load material_form %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} VocabX {% endblock %} </title>
    <script src="https://use.fontawesome.com/5af4325956.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href={% static 'base/images/favicon.ico' %} />
    
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"> {% block extrahead %}{% endblock %}
</head>

<body>
    <a href="#" class="back-to-top">Back to Top</a>
    <a class="btn-floating btn-large waves-effect waves-light red tooltipped add-own-article" data-position="top" data-delay="50" data-tooltip="Add your own article" href="#modal2"><i class="material-icons">mode_edit</i></a>
    
    <div id="modal2" class="modal">
        <div class="modal-content">
            
            <h4 class="red-text center">Add Your Own Article</h4>
            <p class="center">Insert the article link below. We will analyse it and save it to your bookmarks.</p>
            
            <form method="post" id="ownurlform">
                {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa fa-pencil prefix" aria-hidden="true">link</i>
                    <input id="own_url" type="url">
                    <label for="own_url">Url</label>
                </div>
            </div>
                </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-blue btn-flat" id="url_submit_btn" style="color: #1976D2;">Submit</a>
        </div>
    </div>
    <main>
        <div class="row">
            <ul id="slide-out" class="side-nav fixed blue-grey darken-3">
                <li class="brand-logo blue-grey darken-4">
                    <a href="http://www.vocabx.com">
                        <img src="{% static 'base/images/icon48.png' %}">
                    </a>
                </li>

                <li class="center-align blue-grey darken-4" id="profilepic">
                    <!---<i class="fa fa-user-circle-o fa-5x center-align white-text" aria-hidden="true"></i>-->
                    <p class="center-align white-text">{{ user.first_name}} {{ user.last_name }}</p>
                    <p class="center-align white-text" style="font-size: 1rem;">{{ user.email }}</p>
                </li>

                <li id="buttons">
                    <a class="waves-effect waves-light btn-flat btn-css white-text " href="{% url 'bookmarks' %}"><i class="material-icons left white-text" style="line-height: 37px;">bookmark_border</i>Bookmarks</a>
                    <a data-target="modal1" class="modal-trigger waves-effect waves-light btn-flat btn-css white-text " id="filterbtn"><i class="material-icons left white-text" style="line-height:37px;">filter_list</i>Filter</a>
                    <a class="waves-effect waves-light btn-flat btn-css white-text" href="{% url 'settings' %}"><i class="material-icons left white-text" style="line-height:37px;">settings</i>Settings</a>
                    <a class="waves-effect waves-light btn-flat btn-css white-text " href="{% url 'logout' %}"><i class="material-icons left white-text" style="line-height:37px;">exit_to_app</i>Logout</a>
                </li>
            </ul>

            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <div id="modal1" class="modal" style="max-width: 400px">
                <div class="modal-content">
                    <form method="post" class="viewform" id="filter_form">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <input type="hidden" name="form-type" value="filter" /> 
                       
                        {% form form=f_form %} 
                        {% endform %}
                        <input type="submit" class="modal-action modal-close waves-effect waves-blue btn right blue darken-2" style="margin-bottom: 10px;" value="SUBMIT" />
                    </form>
                </div>
            </div>

            <div class="col s12 m12 l10 offset-l2 grey lighten-3" id="contentpane">

                <!---<div id="articlelist">
                    <ul class="collection">
                        <li class="collection-item ">
                            <div class="row">
                                <div class="col s12">
                                    <div class="container">
                                        <a class="title col s10 center-align" id="title1"></a>
                                        <i class="fa fa-bookmark tooltipped bookmark_icon col s1" data-position="top" data-delay="50" data-tooltip="Bookmark this article" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <p id="description1"> Description</p>
                                </div>


                                <div class="col s12" id="words_contained1">
                                    <ul id="wordlist1">Words Contained :

                                    </ul>
                                </div>

                                <div class="col s12">
                                    <p class="right-align" id="score1"></p>
                                </div>
                            </div>
                        </li>
                        -->
                <div class="row" id="articles">
                    {% for article in articlelist|slice:":20" %}
                    <div class="col s12 m12 l12 card-panel hoverable">
                        <div class="card-content">
                            <div class="row">
                                <a class="col s11 m11 l11 center-align blue-text text-darken-2 article_title" href='{{ article.destination_url }}' target="_blank">{{ article.title }}</a>
                                <i class="col s1 m1 l1 fa fa-bookmark tooltipped bookmark_icon" data-position="bottom" data-delay="50" data-tooltip="Bookmark this article"></i>
                            </div>
                            <p style="font-size:14px;">{{ article.description }}</p>
                            <ul style="display: flex; flex-wrap;">Good Words:&nbsp;&nbsp;
                                <li>{{ article.contained_words }}</li>
                            </ul>


                        </div>
                        <div class="card-footer">
                            <span class="right">Vocab Score: {{ article.vocab_score }} </span>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="row" style="width: 100%;" onclick="loadMoreArticles()">
                        <div class=" col s12 m12 l12 left center-align" id="load_more">
                            <p style="color: #1976D2;"><b>Load More</b></p>
                            <b><i class="fa fa-2x fa-angle-down" style="color: #1976D2;" aria-hidden="true"></i></b>
                        </div>
                    </div>
                
                <footer class="page-footer blue darken-2">
                    <div class="footer-copyright">
                        <div class="container">
                            <div class="col s6">
                                &copy; {% now 'Y' %} VocabX Pvt. Ltd
                            </div>
                            <div class="col s1 offset-s3">
                                <a class="grey-text text-lighten-4" href="mailto:info@mygoodwords.com"><i class="fa fa-envelope-square"></i></a>
                            </div>
                            <div class="col s1">
                                <a class="grey-text text-lighten-4" href="https://plus.google.com/+MyGoodWords"><i class="fa fa-google-plus-square"></i></a>
                            </div>
                            <div class="col s1">
                                <a class="grey-text text-lighten-4" href="http://www.facebook.com/mygoodwordsindia"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </main>

    {% include 'material/includes/material_js.html' %} {% block scripts %} {% endblock %} {% block scriptlogin %} {% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/scroll-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/add-own-url.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/bookmarks.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/getarticles.js' %}"></script>
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    {% include 'material/includes/material_js.html' %}
</body>

</html>