 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 
 main {
     flex: 1 0 auto;
 }
/*---------------- NAV START ------------------*/
 
 .brand-logo img {
     height: 40px;
     width: auto;
     margin-top: 2px;
     margin-left: 40px;
 }
 
 @media screen and (max-width: 425px){
    .brand-logo img {
        margin-left: 70px;
    }
}
@media screen and (max-width: 360px){
    .brand-logo img {
        margin-left: 50px;
    }
}

 #nav_heading {
     font-size: 18px;
     margin-top: 4px;
     margin-left: -20px;
     margin-right: 20px;
     font-weight: 500;
 }
 
 .nav_signin {
     color: #1976D2;
     text-transform: uppercase;
     cursor: pointer;
     transition: all 300ms ease-in-out;
 }
 
 .nav_signin:hover {
     color: #15c26b;
 }
 
 .nav_create {
     background-color: #1976D2;
     color: white;
     text-transform: uppercase;
     cursor: pointer;
     transition: all 300ms ease-in-out;
 }

 .nav_create:hover {
    background-color: #15c26b;
 }

/*---------------- NAV END ------------------*/

/*---------------- MODAL1 START -------------*/
#modal1 {
    position: absolute;
    border-radius: 10px;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(189, 189, 189, 0.9);
}

#modal1 input {
    color: white;
    font-weight: bold;
    font-family: monospace;
}

#modal1 .input-field input:focus + label {
     color: #1976D2;
   }

#modal1 .input-field input:focus {
     border-bottom: 1px solid #1976D2;
     box-shadow: 0 1px 0 0 #1976D2;
   }

#modal1 .input-field .prefix.active {
     color: #1976D2;
   }

#login {
    background-color: rgb(223,35,89);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

#login:hover {
    background-color: #15c26b;
}

#modal1 a {
    color: white;
    font-family: monospace;
    font-weight: bold;
    text-decoration: underline;
    transition: all 300ms ease-in-out;
}

#modal1 a:hover {
    color: #1976D2;
}
/*---------------- MODAL1 END -------------*/

/*---------------- MODAL2 START -------------*/
#modal2 {
    position: absolute;
    border-radius: 10px;
    background: inherit;    
    box-shadow: inset 0 0 0 200px rgba(189, 189, 189, 0.9);
}

#modal2 input::-webkit-input-placeholder { /* Chrome */
  color: rgba(255, 255, 255, 0.5);
}
#modal2 input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}
#modal2 input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
#modal2 input:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

#modal2 input {
    color: white;
    font-weight: bold;
}

#modal2 input:focus {
    border-bottom: 1px solid #1976D2;
}

#signup {
    margin-top: 7%;
	color: white;
    background-color: rgb(223,35,89);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

@media screen and (max-width: 320px){
     #signup{
        font-size: 11px;
     }
 }

#signup:hover {
    background-color: #15c26b;
}

/*---------------- MODAL2 END -------------*/

/*---------------- reCAPTCHA START -------------*/

/*---------------- reCAPTCHA END -------------*/

 @media screen and (min-width: 769px) and (max-width: 1024px) {
     .nav_create {
         font-size: 12px;
     }
 
     .nav_signin:hover {
         color: #15c26b;
     }
     
     .nav_create:hover {
         background-color: #15c26b;
         color: white;
    }

 }
 @media screen and (max-width: 1024px) {
     #nav_heading {
         margin-left: 0px;
     }
     .nav_signin {
         @extend .push-l5;
     }
     .nav_create {
         @extend .l3;
     }
 }
 
 header nav {
     height: 45px;
     line-height: 45px;
 }
 
 /*---------------- MOVE ARROWS START ------------------*/
 a.move-down {
     display: inline-block;
     position: fixed;
     z-index: 999;
     right: 20px;
     bottom: 20px;
     box-shadow: 1px 5px 20px 1px grey;
     background-color: crimson;
     transition: all 300ms ease-in-out;
 }

a.move-up {
     display: none;
     position: fixed;
     z-index: 999;
     right: 20px;
     bottom: 20px;
     box-shadow: 1px 5px 20px 1px grey;
     background-color: crimson;
     transition: all 300ms ease-in-out;
}

 a.move-down:hover {
        background-color: #15c26b;
    }
 a.move-up:hover {
     background-color: #15c26b;
    }

@media screen and (max-width: 800px) {
    .g-recaptcha {
        transform:scale(0.90);
        -webkit-transform:scale(0.90);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

@media screen and (max-width: 425px) {
    .g-recaptcha {
        transform:scale(0.70);
        -webkit-transform:scale(0.70);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;

    }
}
/*---------------- MOVE END ------------------*/
 .rotate-up {
     transform: rotate( 180deg);
     -moz-transform: rotate( 180deg);
     -ms-transform: rotate( 180deg);
     -o-transform: rotate( 180deg);
     -webkit-transform: rotate( 180deg);
     transition: transform 550ms ease;
     -moz-transition: -moz-transform 550ms ease;
     -ms-transition: -ms-transform 550ms ease;
     -o-transition: -o-transform 550ms ease;
     -webkit-transition: -webkit-transform 550ms ease;
 }
 
 .rotate-down {
     transform: rotate( 360deg);
     -moz-transform: rotate( 360deg);
     -ms-transform: rotate( 360deg);
     -o-transform: rotate( 360deg);
     -webkit-transform: rotate( 360deg);
     transition: transform 550ms ease;
     -moz-transition: -moz-transform 550ms ease;
     -ms-transition: -ms-transform 550ms ease;
     -o-transition: -o-transform 550ms ease;
     -webkit-transition: -webkit-transform 550ms ease;
 }

 .error {
    color: #f44336;
    font-size: 120%;
 }
 /*
 form small.error {
     font-size: 100%;
 }
 
 form .errors small.error {
     font-size: 75%;
 }
 
 form a.cb-form.right {
     line-height: 36px;
 }
 
 .cb-error {
     color: #f44336;
 }
 
 .cb-notice {
     color: #ff6d00;
 }*/
 /*
#navigationpane {
    background-color: #fff;
    display: block;
    height: 100vh;
    position: fixed;
    margin-right: 5%;
}

.side-nav li {
    width: 250px !important;
}
.side-nav a.btn {
    margin: 0;
}
.background img {
    width: 250px;
    height: 250px;
}
*/
/*---------------- CONTACT US START ------------------*/ 
 #contactform > form input {
    font-family: monospace;
 }
 #contactform > form input:focus{
    border: 0;
    border-bottom: 1px solid #1976D2;
 }
 #contactform > form textarea{
    font-family: monospace;
    height: 100px !important;
 }
 #contactform > form textarea:focus {
    border: 1px solid #1976D2;
 }

 .page-footer {
     background-image: url(../images/contact-us-bg.jpg);
     height: 100%;
     background-size: 100% 100%;
 }
 
 #send-msg-btn {
     font-family: monospace;
     margin-top: 5%;
     margin-left: 30px;
 }
 
 #send-msg-btn:hover > a {
     color: #1976D2;
 }
 
 .contact-icon {
     
 }

@media screen and (max-width: 360px){
    .contact-icon {
     
    }
}

 .fa-twitter-square {
     color: #00aced;
 }
 
 .fa-google-plus-square {
     color: #dd4b39;
 }
 
 .fa-facebook-square {
     color: #3b5998;
 }
 /*---------------- CONTACT US END ------------------*/ 