body{display:flex;min-height:100vh;flex-direction:column;}
main{flex:1 0 auto;}
.brand-logo img{height:40px;width:auto;margin-top:2px;margin-left:40px;}
@media screen and (max-width:425px){.brand-logo img{margin-left:70px;}
}
@media screen and (max-width:360px){.brand-logo img{margin-left:50px;}
}
#nav_heading{font-size:18px;margin-top:4px;margin-left:-20px;margin-right:20px;font-weight:500;}
.nav_signin{color:#1976D2;text-transform:uppercase;cursor:pointer;transition:all 300ms ease-in-out;}
.nav_signin:hover{color:#15c26b;}
.nav_create{background-color:#1976D2;color:white;text-transform:uppercase;cursor:pointer;transition:all 300ms ease-in-out;}
.nav_create:hover{background-color:#15c26b;}
#modal1{position:absolute;border-radius:10px;background:inherit;box-shadow:inset 0 0 0 200px rgba(189, 189, 189, 0.9);}
#modal1 input{color:white;font-weight:bold;font-family:monospace;}
#modal1 .input-field input:focus + label{color:#1976D2;}
#modal1 .input-field input:focus{border-bottom:1px solid #1976D2;box-shadow:0 1px 0 0 #1976D2;}
#modal1 .input-field .prefix.active{color:#1976D2;}
#login{background-color:rgb(223,35,89);border-radius:8px;color:white;font-weight:bold;cursor:pointer;transition:all 300ms ease-in-out;}
#login:hover{background-color:#15c26b;}
#modal1 a{color:white;font-family:monospace;font-weight:bold;text-decoration:underline;transition:all 300ms ease-in-out;}
#modal1 a:hover{color:#1976D2;}
#modal2{position:absolute;border-radius:10px;background:inherit;box-shadow:inset 0 0 0 200px rgba(189, 189, 189, 0.9);}
#modal2 input::-webkit-input-placeholder{color:rgba(255, 255, 255, 0.5);}
#modal2 input:-ms-input-placeholder{color:rgba(255, 255, 255, 0.5);}
#modal2 input::-moz-placeholder{color:rgba(255, 255, 255, 0.5);opacity:1;}
#modal2 input:-moz-placeholder{color:rgba(255, 255, 255, 0.5);opacity:1;}
#modal2 input{color:white;font-weight:bold;}
#modal2 input:focus{border-bottom:1px solid #1976D2;}
#signup{margin-top:7%;color:white;background-color:rgb(223,35,89);border-radius:8px;font-weight:bold;cursor:pointer;transition:all 300ms ease-in-out;}
@media screen and (max-width:320px){#signup{font-size:11px;}
}
#signup:hover{background-color:#15c26b;}
@media screen and (min-width:769px) and (max-width:1024px){.nav_create{font-size:12px;}
.nav_signin:hover{color:#15c26b;}
.nav_create:hover{background-color:#15c26b;color:white;}
}
@media screen and (max-width:1024px){#nav_heading{margin-left:0px;}
.nav_signin{@extend .push-l5;}
.nav_create{@extend .l3;}
}
header nav{height:45px;line-height:45px;}
a.move-down{display:inline-block;position:fixed;z-index:999;right:20px;bottom:20px;box-shadow:1px 5px 20px 1px grey;background-color:crimson;transition:all 300ms ease-in-out;}
a.move-up{display:none;position:fixed;z-index:999;right:20px;bottom:20px;box-shadow:1px 5px 20px 1px grey;background-color:crimson;transition:all 300ms ease-in-out;}
a.move-down:hover{background-color:#15c26b;}
a.move-up:hover{background-color:#15c26b;}
@media screen and (max-width:800px){.g-recaptcha{transform:scale(0.90);-webkit-transform:scale(0.90);transform-origin:0 0;-webkit-transform-origin:0 0;}
}
@media screen and (max-width:425px){.g-recaptcha{transform:scale(0.70);-webkit-transform:scale(0.70);transform-origin:0 0;-webkit-transform-origin:0 0;}
}
.rotate-up{transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);-webkit-transform:rotate(180deg);transition:transform 550ms ease;-moz-transition:-moz-transform 550ms ease;-ms-transition:-ms-transform 550ms ease;-o-transition:-o-transform 550ms ease;-webkit-transition:-webkit-transform 550ms ease;}
.rotate-down{transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);-webkit-transform:rotate(360deg);transition:transform 550ms ease;-moz-transition:-moz-transform 550ms ease;-ms-transition:-ms-transform 550ms ease;-o-transition:-o-transform 550ms ease;-webkit-transition:-webkit-transform 550ms ease;}
.error{color:#f44336;font-size:120%;}
#contactform > form input{font-family:monospace; color: white;}
#contactform > form input:focus{border:0;border-bottom:1px solid #1976D2;}
#contactform > form textarea{font-family:monospace; color: white; height: 8em; width: 30em;}
#contactform > form textarea:focus{border:1px solid #1976D2;}
.page-footer{background-image:url(../images/contact-us-bg.jpg);height:100%;background-size:100% 100%;}
#send-msg-btn{font-family:monospace;margin-top: 2%; margin-left: -20%;}
#send-msg-btn:hover > button{color:#1976D2;}
.contact-icon{}
@media screen and (max-width:780px){.contact-icon{} #contactform > form textarea{font-family:monospace; color: white; height: 8em; width: 25em;}
}
@media screen and (max-width:480px){.contact-icon{} #contactform > form textarea{font-family:monospace; color: white; height: 8em; width: 27em;}#send-msg-btn{margin-left: 0;}
}
@media screen and (max-width:385px){.contact-icon{} #contactform > form textarea{font-family:monospace; color: white; height: 8em; width: 24em;}
}
@media screen and (max-width:340px){.contact-icon{} #contactform > form textarea{font-family:monospace; color: white; height: 8em; width: 21em;}
}
.fa-twitter-square{color:#00aced;}
.fa-google-plus-square{color:#dd4b39;}
.fa-facebook-square{color:#3b5998;}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}